{
  "env": {
    "node": true,
    "es2021": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
    "max-len": [ "error", { "code": 120 } ],
    "no-bitwise": "off",
    "no-console": "off",
    "no-param-reassign": "off",
    "no-promise-executor-return": "off",
    "react/function-component-definition": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-props-no-spreading": "off",
    "react/no-arrow-function-lifecycle": "off",
    "react/no-invalid-html-attribute": "off",
    "react/no-namespace": "off",
    "react/no-unused-class-component-methods": "off",
    "react/prefer-exact-props": "off",
    "react/prop-types": "off"
  }
}
