body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: #eeeeee;
  background-color: #333333;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  font-size: 2rem;
  font-weight: bold;
}

.app-main {
  display: flex;
}

.app-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 60px;
  margin-bottom: 1rem;
  color: rgb(89, 89, 89);
}

.aside {
  flex: 1 1 0;
  padding: 0 1rem;
}

.game-controls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.game-controls button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: #eeeeee;
  font-size: 125%;
  padding: 1rem 1rem;
}

.game-controls button:hover, .game-controls button:focus {
  background-color: rgb(89, 89, 89);
}

.game-controls button svg {
  vertical-align: bottom;
}

#load-game-input {
  position: fixed;
  top: -100rem;
}

.move-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.move-navigation {
  display: flex;
  justify-content: center;
}

.move-navigation button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: #eeeeee;
  font-size: 125%;
  padding: 1rem 1rem;
}

.move-navigation button:hover, .move-navigation button:focus {
  background-color: rgb(89, 89, 89);
}

.move-navigation button svg {
  vertical-align: bottom;
}

.move-list {
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 90%;
  line-height: 120%;
  height: 100%;
  margin-bottom: 1rem;
}

.move-list .move {
  display: flex;
  justify-content: flex-start;
  padding: 0 8px;
}

.move-list .move div {
  padding: 2px 4px;
}

.move-list .move:nth-child(even) {
  background-color: rgba(200, 200, 200, 0.1);
}

.move-list .move .move-number {
  width: 1.5rem;
  color: #999999;
}

.move-list .move .move-symbol {
  min-width: 4rem;
}

.move-list .move .move-symbol span {
  padding: 2px 8px;
}

.move-list .move .move-symbol span.current-move{
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.4)
}
