body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: #eeeeee;
  background-color: #333333;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container footer {
  margin-top: 2rem;
  position: absolute;
  bottom: 5px;
  text-align: center;
}

#board-canvas {
  border-radius: 3px;
}

#promotion-canvas {
  cursor: pointer;
}
