.canvas-container {
  position: relative;
}

.canvas-container:before {
  content: '';
  display: block;
  /* padding-top: 100%; removed this because it was creating whitespace under the captured pieces canvas. not sure what it was here for in the first place. */ 
}

.canvas-container canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
